<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File"
        name="file"
        fileName="log.txt"
        archiveFileName="log.{#}.txt"
        archiveNumbering="Date"
        archiveEvery="Day"
        archiveDateFormat="yyyyMMdd" />
    <target xsi:type="File"
        name="exceptions"
        fileName="exceptionsLog.log"
        archiveFileName="log.{#}.txt"
        archiveNumbering="Date"
        archiveEvery="Day"
        archiveDateFormat="yyyyMMdd" />
    <target xsi:type="File"
            name="request-time"
            fileName="request-time.log"
            archiveFileName="log.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd" />

  </targets>
  <rules>
    <!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
    <logger name="*" minLevel="Trace" writeTo="file" />
    <!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
    <logger name="web_api_net5.*" minLevel="Error" writeTo="exceptions" />
    <logger name="web_api_net5.Middleware.RequestTimeMiddleware" minLevel="Trace" writeTo="request-time" />
    <!--name jest pełnym namespace, przez co do logów trafią tylko te zapytania trwające> 4s-->
  </rules>
</nlog>